
.navbar-light .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' hei…miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

.navbar img {
  width: 35px;
}


.navbar .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 0px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    position: relative;
  }
  .navbar .navbar-toggler-icon {
    background-image:none; /* この行で背景画像を無効化 */
    background-color: #fff;
    width: 30px;
    height: 2px;
    display: block;
    position: absolute;
    transition: ease .5s;
  }
  
  /* 3本のバーそれぞれの座標を設定 */
  .navbar-toggler-icon:nth-of-type(1) {top:7px;}
  .navbar-toggler-icon:nth-of-type(2) {top:14px;}
  .navbar-toggler-icon:nth-of-type(3) {top:21px;}
  
  /* メニューが開いている時の　3本のバーそれぞれの座標および角度を設定 */
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-of-type(1) {
  top:13px;
  transform: rotate(45deg);
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-of-type(2) {
  opacity: 0;
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-of-type(3) {
  top:13px;
  transform: rotate(-45deg);
  }